USE [Sat242516008]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_Int_Int]    Script Date: 22.12.2025 18:56:35 ******/
CREATE TYPE [dbo].[Type_Dictionary_Int_Int] AS TABLE(
	[Key] [int] NULL,
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_Int_String]    Script Date: 22.12.2025 18:56:35 ******/
CREATE TYPE [dbo].[Type_Dictionary_Int_String] AS TABLE(
	[Key] [int] NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 22.12.2025 18:56:35 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22.12.2025 18:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductDetails]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductDetails] 
WITH SCHEMABINDING -- Index oluşturabilmek için bu şarttır
AS
SELECT 
    p.Id, 
    p.ProductName, 
    p.ProductCode, 
    c.CategoryName,
    p.CreatedDate
FROM dbo.Products p
JOIN dbo.Categories c ON p.CategoryId = c.Id;
GO
/****** Object:  Table [dbo].[ControlPoints]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PointName] [nvarchar](100) NOT NULL,
	[MinValue] [float] NULL,
	[MaxValue] [float] NULL,
	[Unit] [nvarchar](20) NULL,
 CONSTRAINT [PK_ControlPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime2](7) NULL,
	[ProcessType] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[OldData] [nvarchar](max) NULL,
	[NewData] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[NominalValue] [decimal](18, 2) NULL,
	[MeasuredValue] [decimal](18, 2) NULL,
	[UpperTolerance] [decimal](18, 2) NULL,
	[LowerTolerance] [decimal](18, 2) NULL,
	[IsSuccess] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityMeasurements]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityMeasurements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ControlPointId] [int] NOT NULL,
	[MeasuredValue] [decimal](18, 2) NOT NULL,
	[IsOk]  AS (case when [MeasuredValue]>=[MinValue_Snap] AND [MeasuredValue]<=[MaxValue_Snap] then (1) else (0) end),
	[MinValue_Snap] [decimal](18, 2) NULL,
	[MaxValue_Snap] [decimal](18, 2) NULL,
	[MeasuredDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Measurements] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[QualityMeasurements] ADD  DEFAULT (getdate()) FOR [MeasuredDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Operator') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Measurements]  WITH CHECK ADD  CONSTRAINT [FK_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Measurements] CHECK CONSTRAINT [FK_Product]
GO
ALTER TABLE [dbo].[Measurements]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Measurements] CHECK CONSTRAINT [FK_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[QualityMeasurements]  WITH CHECK ADD  CONSTRAINT [FK_Quality_ControlPoint] FOREIGN KEY([ControlPointId])
REFERENCES [dbo].[ControlPoints] ([Id])
GO
ALTER TABLE [dbo].[QualityMeasurements] CHECK CONSTRAINT [FK_Quality_ControlPoint]
GO
ALTER TABLE [dbo].[QualityMeasurements]  WITH CHECK ADD  CONSTRAINT [FK_Quality_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[QualityMeasurements] CHECK CONSTRAINT [FK_Quality_Product]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Silme Prosedürü (sp_DeleteProduct)
CREATE   PROCEDURE [dbo].[sp_DeleteProduct]
    @Id INT
AS
BEGIN
    DELETE FROM Products WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategories]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetCategories]
AS
BEGIN
    -- Sadece ihtiyacımız olan sütunları, tam isimleriyle çekiyoruz
    SELECT Id, CategoryName FROM Categories ORDER BY CategoryName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLogStatistics]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLogStatistics]
AS
BEGIN
    SET NOCOUNT ON;
    -- İşlem tiplerine göre (INSERT, UPDATE, DELETE) dağılım
    SELECT 
        ProcessType AS [Key], 
        CAST(COUNT(*) AS NVARCHAR) AS [Value]
    FROM [dbo].[Logs_Table]
    GROUP BY ProcessType;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProducts]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProducts]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY,
    @where [dbo].[Type_Dictionary_String_String] READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1, @PageSize INT = 10, @OrderBy NVARCHAR(100) = 'Id';
    
    -- Pagination parametrelerini oku
    SELECT @PageNumber = TRY_CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = TRY_CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    -- Toplam Kayıt Sayısını Hesapla (Yönerge Madde 21 için gerekli)
    DECLARE @TotalRecordCount INT = (SELECT COUNT(*) FROM [dbo].[Products]);

    -- Veriyi Getir (Sayfalamalı)
    SELECT *, @TotalRecordCount AS TotalRecordCount 
    FROM [dbo].[Products]
    ORDER BY 
        CASE WHEN @OrderBy = 'ProductName' THEN ProductName END ASC,
        CASE WHEN @OrderBy = 'Id' OR @OrderBy = '' THEN Id END ASC
    OFFSET (@PageNumber - 1) * @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQualityStats]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetQualityStats]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        CP.PointName AS [Key],
        CAST(COUNT(QM.Id) AS NVARCHAR) + '|' + 
        CAST(SUM(CASE WHEN QM.IsOk = 0 THEN 1 ELSE 0 END) AS NVARCHAR) AS [Value]
    FROM ControlPoints CP
    LEFT JOIN QualityMeasurements QM ON CP.Id = QM.ControlPointId
    GROUP BY CP.PointName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveMeasurement]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveMeasurement]
    @ProductId INT,
    @ControlPointId INT,
    @MeasuredValue DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kontrol noktasının güncel limitlerini alıyoruz
    DECLARE @Min DECIMAL(18,2), @Max DECIMAL(18,2);
    SELECT @Min = MinValue, @Max = MaxValue FROM ControlPoints WHERE Id = @ControlPointId;

    -- Ölçümü kaydet (IsOk sütunu tabloda otomatik hesaplanıyor)
    INSERT INTO QualityMeasurements (ProductId, ControlPointId, MeasuredValue, MinValue_Snap, MaxValue_Snap)
    VALUES (@ProductId, @ControlPointId, @MeasuredValue, @Min, @Max);
    
    SELECT SCOPE_IDENTITY() AS Value; -- Kaydedilen ID'yi dön
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SetCategory]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Kategori Ekleme/Güncelleme SP
CREATE PROCEDURE [dbo].[sp_SetCategory]
    @Id INT = 0,
    @CategoryName NVARCHAR(100),
    @Description NVARCHAR(500)
AS
BEGIN
    IF @Id = 0
        INSERT INTO [dbo].[Categories] (CategoryName, Description) VALUES (@CategoryName, @Description);
    ELSE
        UPDATE [dbo].[Categories] SET CategoryName = @CategoryName, Description = @Description WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SetProduct]    Script Date: 22.12.2025 18:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Kaydetme Prosedürü (sp_SetProduct)
CREATE   PROCEDURE [dbo].[sp_SetProduct]
    @Id INT,
    @CategoryId INT,
    @ProductCode NVARCHAR(50),
    @ProductName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF @Id = 0
        INSERT INTO Products (CategoryId, ProductCode, ProductName, CreatedDate)
        VALUES (@CategoryId, @ProductCode, @ProductName, GETDATE());
    ELSE
        UPDATE Products SET 
            CategoryId = @CategoryId, 
            ProductCode = @ProductCode, 
            ProductName = @ProductName 
        WHERE Id = @Id;
END
GO
