USE [QualityControlDB]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 12.01.2026 03:39:51 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityInspections]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityInspections](
	[InspectionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[InspectorName] [nvarchar](100) NULL,
	[InspectionDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_QualityInspections] PRIMARY KEY CLUSTERED 
(
	[InspectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductInspectionSummary]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Görünümler (Views) ve Indexli Görünüm (Madde 8, 9)
-- Indexed View olabilmesi için SCHEMABINDING şarttır.
CREATE   VIEW [dbo].[vw_ProductInspectionSummary]
WITH SCHEMABINDING
AS
SELECT 
    p.ProductID,
    p.ProductName,
    p.ProductCode,
    COUNT_BIG(*) as TotalInspections -- Indexed View için Count_Big gerekir
FROM [dbo].[Products] p
INNER JOIN [dbo].[QualityInspections] qi ON p.ProductID = qi.ProductID
GROUP BY p.ProductID, p.ProductName, p.ProductCode;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Operation] [nvarchar](20) NOT NULL,
	[RecordID] [nvarchar](50) NULL,
	[LogDate] [datetime2](7) NULL,
	[Description] [nvarchar](max) NULL,
	[UserID] [nvarchar](450) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260111222912_YenidenKurulum', N'8.0.21')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'67261e5e-5e88-484d-afed-4f40847570b4', N'Personel', N'PERSONEL', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'dffe01e6-e00e-4187-81de-b7a1953430fb', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'f3a87f08-40a8-4137-b204-96cd3ad5f4b0', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'001eb379-675b-4ae9-a731-41c491849d87', N'f3a87f08-40a8-4137-b204-96cd3ad5f4b0')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'37a8b744-b88b-478b-b8a2-497dcf6879cc', N'a@gmail.com', N'A@GMAIL.COM', N'a@gmail.com', N'A@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEKJ9fzZ3LFFjX9Uah1EA99X4Cm4lNCxy61NRnkWOb0xNRMAcyc7lZSPaNCtLkftKMw==', N'7FJV5WJ7WR4WMT627MTI7BFMWBHKYHP4', N'9d8d2e11-e6a2-435d-a707-311454fc19e0', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [IsActive]) VALUES (1, N'djaskdk', N'hjıashdasdaoı', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [IsActive]) VALUES (2, N'djlşkfslşjdkfljksf', N'flsşkjdfjlksdf', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [IsActive]) VALUES (3, N'fnskjdkfslkjdf', N'sdlşkjfsopıudfopıw', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs_Table] ON 

INSERT [dbo].[Logs_Table] ([LogID], [TableName], [Operation], [RecordID], [LogDate], [Description], [UserID]) VALUES (1, N'Products', N'INSERT', N'1', CAST(N'2026-01-11T22:55:55.0566667' AS DateTime2), N'Yeni ürün eklendi.', NULL)
INSERT [dbo].[Logs_Table] ([LogID], [TableName], [Operation], [RecordID], [LogDate], [Description], [UserID]) VALUES (2, N'Products', N'Insert', N'New', CAST(N'2026-01-12T01:55:55.0666667' AS DateTime2), N'Eklendi: sda', NULL)
INSERT [dbo].[Logs_Table] ([LogID], [TableName], [Operation], [RecordID], [LogDate], [Description], [UserID]) VALUES (3, N'Products', N'UPDATE', N'1', CAST(N'2026-01-11T22:56:04.3533333' AS DateTime2), N'Ürün güncellendi.', NULL)
SET IDENTITY_INSERT [dbo].[Logs_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductCode], [Category], [CreatedDate], [IsActive]) VALUES (2, N'dsada', N'dasdas', N'dasdas', CAST(N'2026-01-11T22:56:14.2633333' AS DateTime2), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductCode], [Category], [CreatedDate], [IsActive]) VALUES (3, N'gdsf', N'fsdf', N'dhgfd', CAST(N'2026-01-11T22:56:21.4200000' AS DateTime2), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductCode], [Category], [CreatedDate], [IsActive]) VALUES (4, N'lkfjgdklfg', N'şlkgfdşlgd', N'jgklşfdjkgd', CAST(N'2026-01-11T22:56:30.1566667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [Phone], [IsActive]) VALUES (1, N'osapjdıa9ıusjdoa', N'dasuıjdaosıudj', N'05555555555', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [Phone], [IsActive]) VALUES (3, N'alsşkjdoasoşıud', N'kjasdkjlaslkjd', N'akjşasdalkjslkd', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [Phone], [IsActive]) VALUES (4, N'okjdaokjsdopkja', N'edqaopıuedqdeq', N'1', 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QualityInspections] ADD  DEFAULT (getdate()) FOR [InspectionDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[QualityInspections]  WITH CHECK ADD  CONSTRAINT [FK_QualityInspections_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QualityInspections] CHECK CONSTRAINT [FK_QualityInspections_Products]
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_Delete]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Silme
CREATE   PROCEDURE [dbo].[sp_Categories_Delete]
    @CategoryID INT
AS
BEGIN
    DELETE FROM Categories WHERE CategoryID = @CategoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_Insert]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Ekleme
CREATE   PROCEDURE [dbo].[sp_Categories_Insert]
    @CategoryName NVARCHAR(100),
    @Description NVARCHAR(250)
AS
BEGIN
    INSERT INTO Categories (CategoryName, Description, IsActive)
    VALUES (@CategoryName, @Description, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_List]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listeleme (Sayfalama Dahil)
CREATE   PROCEDURE [dbo].[sp_Categories_List]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY,
    @where [dbo].[Type_Dictionary_String_String] READONLY
AS
BEGIN
    DECLARE @PageNumber INT = 1, @PageSize INT = 10, @OrderBy NVARCHAR(100) = 'CategoryID DESC';
    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    SELECT 
        CategoryID, CategoryName, Description, IsActive,
        COUNT(*) OVER() AS TotalRecordCount 
    FROM Categories
    ORDER BY 
        CASE WHEN @OrderBy = 'CategoryName' THEN CategoryName END ASC,
        CASE WHEN @OrderBy = 'CategoryID DESC' THEN CategoryID END DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categories_Update]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Güncelleme
CREATE   PROCEDURE [dbo].[sp_Categories_Update]
    @CategoryID INT,
    @CategoryName NVARCHAR(100),
    @Description NVARCHAR(250),
    @IsActive BIT
AS
BEGIN
    UPDATE Categories 
    SET CategoryName = @CategoryName, Description = @Description, IsActive = @IsActive
    WHERE CategoryID = @CategoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductCountsByCategory]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Kategori bazlı ürün sayılarını getiren SP
CREATE   PROCEDURE [dbo].[sp_GetProductCountsByCategory]
AS
BEGIN
    SELECT 
        Category AS Label, 
        COUNT(*) AS Value 
    FROM Products 
    GROUP BY Category
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_Delete]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SİLME (Delete)
CREATE   PROCEDURE [dbo].[sp_Products_Delete]
    @ProductID int
AS
BEGIN
    DELETE FROM [dbo].[Products] WHERE ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_Insert]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Saklı Yordamlar (Stored Procedures) (Madde 11)

-- EKLEME (Insert)
CREATE   PROCEDURE [dbo].[sp_Products_Insert]
    @ProductName nvarchar(100),
    @ProductCode nvarchar(50),
    @Category nvarchar(50)
AS
BEGIN
    INSERT INTO [dbo].[Products] (ProductName, ProductCode, Category, IsActive)
    VALUES (@ProductName, @ProductCode, @Category, 1);
    
    SELECT SCOPE_IDENTITY() AS NewID; -- Yeni eklenen ID'yi döndür
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_List]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LİSTELEME (Select / Pagination) - C# Mimarisine Özel
-- UnitOfWork içindeki "table.Rows[0]["TotalRecordCount"]" satırı için COUNT(*) OVER() kullanıyoruz.
CREATE   PROCEDURE [dbo].[sp_Products_List]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY, -- C# tarafından gelen sayfalama
    @where [dbo].[Type_Dictionary_String_String] READONLY       -- C# tarafından gelen filtreleme
AS
BEGIN
    SET NOCOUNT ON;

    -- Default Değerler
    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    DECLARE @OrderBy NVARCHAR(100) = 'ProductID DESC';

    -- Parametre tablosundan değerleri çek
    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    -- Dinamik SQL yerine güvenli statik sorgu ile (Basit filtreleme örneği)
    -- Not: Karmaşık filtreler için Dynamic SQL gerekebilir ama şimdilik standart yapı:
    
    SELECT 
        ProductID,
        ProductName,
        ProductCode,
        Category,
        IsActive,
        CreatedDate,
        -- C# UnitOfWork'ün beklediği Toplam Kayıt Sayısı sütunu:
        COUNT(*) OVER() AS TotalRecordCount 
    FROM [dbo].[Products]
    ORDER BY 
        CASE WHEN @OrderBy = 'ProductName' THEN ProductName END ASC,
        CASE WHEN @OrderBy = 'ProductCode' THEN ProductCode END ASC,
        CASE WHEN @OrderBy = 'ProductID DESC' THEN ProductID END DESC
        -- Diğer sıralama seçenekleri buraya eklenebilir
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Products_Update]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GÜNCELLEME (Update)
CREATE   PROCEDURE [dbo].[sp_Products_Update]
    @ProductID int,
    @ProductName nvarchar(100),
    @ProductCode nvarchar(50),
    @Category nvarchar(50),
    @IsActive bit
AS
BEGIN
    UPDATE [dbo].[Products]
    SET ProductName = @ProductName,
        ProductCode = @ProductCode,
        Category = @Category,
        IsActive = @IsActive
    WHERE ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Suppliers_Delete]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Silme
CREATE   PROCEDURE [dbo].[sp_Suppliers_Delete]
    @SupplierID INT
AS
BEGIN
    DELETE FROM Suppliers WHERE SupplierID = @SupplierID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Suppliers_Insert]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Ekleme
CREATE   PROCEDURE [dbo].[sp_Suppliers_Insert]
    @CompanyName NVARCHAR(100),
    @ContactName NVARCHAR(100),
    @Phone NVARCHAR(20)
AS
BEGIN
    INSERT INTO Suppliers (CompanyName, ContactName, Phone, IsActive)
    VALUES (@CompanyName, @ContactName, @Phone, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Suppliers_List]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listeleme
CREATE   PROCEDURE [dbo].[sp_Suppliers_List]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY,
    @where [dbo].[Type_Dictionary_String_String] READONLY
AS
BEGIN
    DECLARE @PageNumber INT = 1, @PageSize INT = 10, @OrderBy NVARCHAR(100) = 'SupplierID DESC';
    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy';

    SELECT 
        SupplierID, CompanyName, ContactName, Phone, IsActive,
        COUNT(*) OVER() AS TotalRecordCount 
    FROM Suppliers
    ORDER BY 
        CASE WHEN @OrderBy = 'CompanyName' THEN CompanyName END ASC,
        CASE WHEN @OrderBy = 'SupplierID DESC' THEN SupplierID END DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Suppliers_Update]    Script Date: 12.01.2026 03:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Güncelleme
CREATE   PROCEDURE [dbo].[sp_Suppliers_Update]
    @SupplierID INT,
    @CompanyName NVARCHAR(100),
    @ContactName NVARCHAR(100),
    @Phone NVARCHAR(20),
    @IsActive BIT
AS
BEGIN
    UPDATE Suppliers 
    SET CompanyName = @CompanyName, ContactName = @ContactName, Phone = @Phone, IsActive = @IsActive
    WHERE SupplierID = @SupplierID;
END
GO
